@import '../../variables';

.MessageNavItem {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style: none;
  border-top: 1px solid grey;
  padding: 10px;

  &:first-child {
    border-top: none;
  }

  &:hover {
    background-color: $primary-color-transparent;
  }
}

.MessageNavItem_notification {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
}
