@import '../../variables';

.Profile {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  margin: 0 auto;
  height: $main-height;
  padding: 80px 30px 80px 50px;
}

.Profile_user_header,
.Profile_user_story {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 10px;
  background-color: rgb(245, 245, 245);
  height: 100%;
}

.Profile_user_header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  align-items: center;
  width: 300px;
  padding: 30px 10px 30px 10px;
}

.Profile_user_container {
  display: flex;
  flex-direction: column;
  grid-row: 1/8;
  text-align: center;

  & img {
    width: 150px;
    height: 150px;
    align-self: center;
    background-color: $emphasis_color;
    border-radius: 25px;
    border: 3px solid $emphasis_color;
  }
}

.Profile_help {
  grid-row: 9/16;
  align-self: flex-start;

  & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }

  & li {
    width: fit-content;
    color: white;
  }
}

.Profile_user_story {
  width: 450px;
  padding: 25px 50px 25px 50px;
}
