@import '../../variables';

.MessageHistory {
  width: 100%;
  height: 400px;
  overflow: auto;
  background-color: white;
  margin-top: $message_header_height;
  border: 3px solid rgb(219, 211, 211);
  box-shadow: 0px 3px 0px 0px $text-color-dark;
}
