@import '../../variables';

.MessageHistory {
  width: 100%;
  height: 400px;
  overflow: auto;
  background-color: white;
  margin-top: $message_header_height;
  border: 3px solid rgb(219, 211, 211);
  box-shadow: 0px 3px 0px 0px $text-color-dark;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.MessageHistory_message {
  display: flex;
  flex-direction: column;
}

.MessageHistory_message_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.MessageHistory_date {
  width: 100%;
  margin: 5px 0px 5px 0px;
  text-align: center;
  background-color: rgb(238, 237, 237);
}

.MessageHistory_time {
  font-size: 0.85em;
  margin-top: 5px;
  margin-bottom: 5px;
  color: grey;
}

.MessageHistory_subject,
.MessageHistory_body {
  max-width: 70%;

  &.align_start {
    margin-left: 10px;
  }

  &.align_end {
    margin-right: 10px;
  }
}
