@import '../variables';

.FindHelp {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.FindHelp_left_content {
  width: 500px;
  font-size: 1.2em;
  color: white;
}

.FindHelp_explanation_list {
  & li {
    width: 100%;
    padding: 10px;
    list-style-position: inside;

    & span {
      display: inline-block;
      padding-top: 10px;
      margin-left: 30px;
      padding-right: 10px;
      font-size: 1rem;
      color: white;
    }
  }
}

.FindHelp_form_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 3em;
  width: 90%;
  background-color: #fafafa;

  & div {
    margin-top: 10px;
  }
}

.FindHelp_form {
  display: flex;
  flex-direction: column;

  & legend,
  & label {
    padding-bottom: 20px;
  }

  & legend {
    font-weight: bold;
  }

  & input {
    margin-top: 5px;
  }
}

.FindHelp_flex_label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.FindHelp_form_nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
