@import '../../variables';

.ProfileNav {
  display: grid;
  place-content: center;
  position: absolute;
  top: $lhsd_header_height;
  right: 5px;
  width: 140px;
  background-color: #3c3e4b;
  color: white;
  z-index: 1;
}

.ProfileNav_list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  & li {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  & li:nth-child(odd) {
    border-bottom: 1px solid grey;
  }

  & li:hover {
    background-color: $primary_color;
  }
}
