@import '../../variables';

.MessageNav {
  position: fixed;
  width: 300px;
  bottom: 0;
  right: 20px;
}

.MessageNav_header {
  background-color: $text-color-dark;
  padding-left: 15px;
  color: white;
  font-size: 1.1em;
  line-height: 3em;
}

.MessageNav_list {
  padding-left: 0;
  margin: 0;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
