@import '../../variables';

.MessageNav {
  position: fixed;
  width: 300px;
  bottom: 0;
  right: 20px;
  z-index: 2;
}

.MessageNav_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  line-height: 3em;
  font-size: 1.1em;
  color: white;
  background-color: $text-color-dark;
}

.MessageNav_list {
  padding-left: 0;
  margin: 0;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  background-color: white;
}
