@import '../../variables';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $mobile-header-height;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;

  & h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 1.4em;

    & span {
      padding-left: 7px;
      color: #ffcb3e;
      font-family: 'Permanent Marker', sans-serif;
      letter-spacing: 0.15em;
    }
  }
}

.Header_login_nav,
.Header_logout_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;

  & a,
  & a:visited {
    color: white;
    text-decoration: none;
  }
}

.Header_login_nav {
  width: 70px;
}

.Header_logout_nav {
  width: 250px;
}

.Header_sign_up_btn {
  background-color: $primary-color;
}

@media (min-width: 750px) {
  .Header {
    height: $header-height;

    & h1 {
      font-size: 2em;
    }
  }

  .Header_sign_up_btn {
    background-color: $emphasis-color;
  }

  .Header_login_nav,
  .Header_logout_nav {
    font-weight: 600;
  }
}
