.FindHelp {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.FindHelp .left_container {
  height: 280px;
}

.FindHelp .right_container {
  background-color: white;
  height: calc(100vh - 280px - 50px);
}

.FindHelp_left_content {
  position: relative;
  top: 50px;
  padding: 10px 15px 0 15px;
  width: 100vw;
  font-size: 1em;
  color: white;
}

.FindHelp_header {
  display: none;
}

.FindHelp_explanation_list {
  padding: 0;
}

.FindHelp_explanation_list li {
  width: 100%;
  padding: 5px;
  list-style-position: inside;
}

.FindHelp_explanation_list li span {
  display: inline-block;
  padding-top: 10px;
  margin-left: 30px;
  padding-right: 10px;
  font-size: 1rem;
  color: white;
}

.FindHelp_form_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  padding-top: 2em;
  width: 100vw;
  background-color: #fafafa;
}

.FindHelp_form_container button {
  margin-top: 10px;
}

.FindHelp_form,
.FindHelp_Register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.FindHelp_form legend,
.FindHelp_form label {
  padding-bottom: 10px;
}

.FindHelp_form legend {
  font-weight: bold;
}

.FindHelp_form input {
  margin-top: 5px;
}

.FindHelp_form .checkbox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.FindHelp_form textarea {
  width: 300px;
  height: 100px;
}

.FindHelp_Register label {
  margin-top: 10px;
}

.FindHelp_Register input {
  margin-top: 5px;
  width: 250px;
}

.FindHelp_Register legend {
  font-weight: bold;
}

.FindHelp_flex_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.FindHelp_form_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

@media (min-width: 750px) {
  .FindHelp {
    width: 100vw;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .FindHelp .left_container {
    height: 100vh;
  }
  .FindHelp .right_container {
    height: 100vh;
  }
  .FindHelp_left_content {
    position: initial;
    width: 500px;
    height: auto;
    padding: 0;
    font-size: 1.2em;
    color: white;
  }
  .FindHelp_header {
    display: initial;
  }
  .FindHelp_explanation_list {
    padding-left: 25px;
  }
  .FindHelp_explanation_list li {
    padding: 10px;
  }
  .FindHelp_form_container {
    width: 90%;
    padding-top: 3em;
  }
  .FindHelp_form legend,
  .FindHelp_form label {
    padding-bottom: 20px;
  }
  .FindHelp_form textarea {
    width: 300px;
    height: 250px;
  }
  .FindHelp_Register label {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=FindHelp.css.map */