@import '../../variables';

.FindHelp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;

  & .left_container {
    height: 280px;
  }

  & .right_container {
    background-color: white;
    height: calc(100vh - 280px - 50px);
  }
}

.FindHelp_left_content {
  position: relative;
  top: $mobile-header-height;
  padding: 10px 15px 0 15px;
  width: 100vw;
  font-size: 1em;
  color: white;
}

.FindHelp_header {
  display: none;
}

.FindHelp_explanation_list {
  padding: 0;

  & li {
    width: 100%;
    padding: 5px;
    list-style-position: inside;

    & span {
      display: inline-block;
      padding-top: 10px;
      margin-left: 30px;
      padding-right: 10px;
      font-size: 1rem;
      color: white;
    }
  }
}

.FindHelp_form_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 2em;
  width: 100vw;
  background-color: #fafafa;

  & button {
    margin-top: 10px;
  }
}

.FindHelp_form,
.FindHelp_Register {
  display: flex;
  flex-direction: column;
}

.FindHelp_form {
  & legend,
  & label {
    padding-bottom: 10px;
  }

  & legend {
    font-weight: bold;
  }

  & input {
    margin-top: 5px;
  }

  & .checkbox {
    width: fit-content;
  }

  & textarea {
    width: 300px;
    height: 100px;
  }
}

.FindHelp_Register {
  & label {
    margin-top: 10px;
  }

  & input {
    margin-top: 5px;
    width: 250px;
  }

  & legend {
    font-weight: bold;
  }
}

.FindHelp_flex_label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.FindHelp_form_nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

@media (min-width: 750px) {
  .FindHelp {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;

    & .left_container {
      height: 100vh;
    }

    & .right_container {
      height: 100vh;
    }
  }

  .FindHelp_left_content {
    position: initial;
    width: 500px;
    height: auto;
    padding: 0;
    font-size: 1.2em;
    color: white;
  }

  .FindHelp_header {
    display: initial;
  }

  .FindHelp_explanation_list {
    padding-left: 25px;

    & li {
      padding: 10px;
    }
  }

  .FindHelp_form_container {
    width: 90%;
    padding-top: 3em;
  }

  .FindHelp_form {
    & legend,
    & label {
      padding-bottom: 20px;
    }

    & textarea {
      width: 300px;
      height: 250px;
    }
  }

  .FindHelp_Register {
    & label {
      margin-top: 20px;
    }
  }
}
