@import '../variables';

.Profile {
  width: 100vw;
  height: $main_height;
  padding: 80px 30px 80px 50px;
}

.Profile_user_header,
.Profile_user_story {
  margin: 0 auto;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 40px;
  background-color: rgb(245, 245, 245);
}

.Profile_user_header {
  position: relative;
  display: flex;
  width: 85%;
  height: 150px;
  padding-left: 140px;

  & img {
    position: absolute;
    top: 0;
    left: -30px;
    width: 150px;
    height: 150px;
    background-color: $emphasis_color;
    border-radius: 50%;
    border: 3px solid $emphasis_color;
  }
}

.Profile_user_story {
  width: 70%;
  padding: 25px 50px 25px 50px;
  margin-top: 50px;
}
