@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Roboto+Condensed:ital,wght@1,700|Permanent+Marker&display=swap');
@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

.button {
  padding: 8px 12px 8px 12px;
}
