@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Roboto+Condensed:ital,wght@1,700|Permanent+Marker&display=swap');
@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

textarea,
input {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

input {
  padding: 5px;
}

button,
.button {
  display: block;
  padding: 8px 12px 8px 12px;
  width: max-content;
  border: none;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.align_start {
  align-self: flex-start;
}

.align_end {
  align-self: flex-end;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.emphasis_bg_color {
  background-color: $emphasis-color;
}

.compliment_bg_color {
  background-color: $compliment-color;
}

.primary_bg_color {
  background-color: $primary-color;
}

.grey_bg_color {
  background-color: $text-color-dark;
}

.text_highlight {
  background-color: $primary-color;
}

.light_text_color {
  color: $text-color-light;
}

.bold {
  font-weight: 600;
}

.left_container,
.right_container {
  position: fixed;
  top: 0;
  height: 100%;
  display: grid;
  place-items: center;
}

.left_container {
  left: 0;
  align-items: center;
  width: 60vw;
  background-color: $emphasis-color;
}

.right_container {
  width: 40vw;
  right: 0;
  background: linear-gradient(rgba(54, 134, 201, 0.75), rgba(54, 134, 201, 0.75)),
    url('./images/corona_volunteers.jpg');
  background-position: 20%;
  background-size: cover;
}

.small_avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 10px;
}
