$primary-color: #3686c9;
$compliment-color: #ffcb3e;
$emphasis-color: #b4c540;
$text-color-dark: #3c3e4b;
$text-color-light: #fff;
$header_height: 70px;
$main_height: calc(100vh - #{$header_height});
