$primary-color: #3686c9;
$primary-color-transparent: #3687c980;
$compliment-color: #ffcb3e;
$emphasis-color: #b4c540;
$text-color-dark: #3c3e4b;
$text-color-light: #fff;
$header-height: 70px;
$mobile-header-height: 50px;
$lhsd-header-height: 50px;
$main-height: calc(100vh - #{$header-height});
$message-header-height: 60px;
