@import '../../variables';

.CondensedProfile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 20px;
  width: 350px;
  height: 600px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  background-color: rgb(245, 245, 245);

  & img {
    width: 100px;
    height: 100px;
    background-color: $emphasis_color;
    border-radius: 20px;
    border: 3px solid $emphasis_color;
  }
}

.CondensedProfile_inner {
  position: absolute;
  bottom: 0;
  left: 3%;
  height: 98%;
  width: 96%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  filter: blur(6px);
  z-index: -1;
}

.CondensedProfile_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & img {
    align-self: center;
  }
}

.CondensedProfile_user_info {
  text-align: center;
}

.CondensedProfile_help_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  color: white;
}

.CondensedProfile_user_story,
.CondensedProfile_help {
  width: 100%;
}

.CondensedProfile_help,
.CondensedProfile_story {
  width: 100%;

  & p {
    margin: 0;
    margin-bottom: 5px;
  }
}

.CondensedProfile_story {
  position: relative;
  height: 9.5em;
  overflow-y: hidden;

  & p:first-child {
    line-height: 1.5em;
  }
}

.CondensedProfile_story_container {
  height: 100%;
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0em;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(245, 245, 245, 0), rgba(245, 245, 245, 0.8) 80%);
    width: 100%;
    height: 4em;
  }
}
