@import '../../variables';

.Message {
  position: fixed;
  bottom: 0;
  right: 340px;
  width: 400px;
  background-color: rgb(219, 211, 211);
  z-index: 2;
}

.Message_header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: $message-header-height;
  width: 400px;
  padding-left: 12px;
  background-color: $text-color-dark;
  color: white;
}

.Message_minimize_container {
  display: grid;
  place-content: center;
  width: 25px;
  height: 20px;
  margin-left: auto;
  margin-right: 15px;
}

.Message_minimize {
  height: 4px;
  width: 17px;
  background-color: white;
  border-radius: 1px;
}

.Message_container {
  margin-top: 3px;

  & button {
    font-size: 1em;
    margin-top: 3px;
    margin-bottom: 8px;
    margin-left: 8px;
  }

  & input,
  & textarea {
    border: none;
  }

  & textarea {
    border-left: 3px solid rgb(219, 211, 211);
    border-right: 3px solid rgb(219, 211, 211);
  }
}

.Message_subject {
  width: 100%;

  & span {
    margin-left: 8px;
    margin-right: 8px;
  }

  & input {
    width: 327px;
    margin-top: 3px;
  }
}

.Message_body {
  width: 100%;
  height: 100px;
  margin-top: 5px;
  padding: 15px;

  & textarea {
    width: 100%;
    height: 300px;
  }
}
